$backgroundColor: #72588d;
$textColor: #f1f1f1;
$color: rgb(118, 137, 154);

body {
  background-color: $backgroundColor;
}

#background-container {
  position: fixed;
  display: block;
  min-width: 100%;
  min-height: 100%;
  top: 0px;
  left: 0px;
  z-index: -99;
  background-image: url('weather.jpg');
  background-color: rgb(238, 238, 238);
  background-size: cover;
  transform: scale(1.2);

  filter: blur(30px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  color: $textColor;
}

img {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
  image-rendering: -webkit-optimize-contrast;
}

h1 {
  margin-top: 40px;
  font-weight: 100;
  color: $textColor;
}

.searchBox {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 500px;
  padding: 0 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;

  position: absolute;
  z-index: 100;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.searchBar input {
  border: none;
  border-radius: 8px;

  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  overflow: hidden;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
}

.searchBar input:focus {
  outline: 0;
}

.autocompleteTerm {
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  cursor: default;
  border-radius: 2px;
  overflow: ellipsis;
  color: black;
}

.autocompleteTerm-nofocus {
  display: none;
}

.autocompleteTerm:hover {
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.poweredByGoogle img {
  display: block;
  margin: 0 auto;
  max-width: 40%;
  height: auto;
}

.current-wrapper {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  // width: 90%;
  max-width: 500px;
}

.current-location {
  font-size: 2rem;
  margin-bottom: 10px;
  padding: 0em 0.2em;
}

.current-row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.current-tempbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: max-content;
}

.current-temp {
  font-size: 4rem;
}

.current-feels-like {
  font-size: clamp(0.75rem, 2.75vw, 1rem);
}

.current-condition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: max-content;
}

.current-condition-desc {
  font-size: clamp(0.75rem, 2.75vw, 1rem);
}

.current-icon {
  margin: -15px 0;
}

.current-extrainfo {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
  padding: 0 10px;
  font-size: clamp(0.75rem, 3vw, 1rem);
}

.current-wind {
  padding: 10px 10px;
  text-align: center;
  display: flex;

  @media (max-width: 430px) {
    padding: 10px 5px;
  }
}

.current-wind img {
  margin: 2px 0;
}

.current-wind-speed {
  padding: 5px 5px;

  @media (max-width: 430px) {
    padding: 5px 2px;
  }
}

.current-wind-dir {
  padding: 5px 5px;
  @media (max-width: 430px) {
    padding: 5px 2px;
  }
}

.current-sun {
  padding: 10px 10px;
  text-align: center;
  display: flex;
  gap: 5px;

  img {
    margin: 2px 0;
  }
}

.current-sunrise {
  padding: 5px 5px;

  @media (max-width: 430px) {
    padding: 5px 2px;
  }
}

.current-sunset {
  padding: 5px 5px;

  @media (max-width: 430px) {
    padding: 5px 2px;
  }
}

.hourly-wrapper {
  display: flex;
  overflow: auto;
  scroll-behavior: auto;
  max-width: 760px;
  width: 90%;
  text-align: center;
  border-radius: 8px;
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.18);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
  @media (max-width: 768px) {
    margin-top: -20px;
  }
}

.hourly-hour {
  position: relative;
  padding: 6px 7px;
  // margin-right: 5px;
  border-radius: 4px;
}

.hourly-hour div {
  padding: 4px 0;
}

.hourly-rainProb {
  font-size: 12px;
  position: absolute;
  bottom: 34px;
  right: 4px;
}

.hourly-rainProb i {
  color: black;
  margin-right: 4px;
  filter: invert(89%) sepia(16%) saturate(7475%) hue-rotate(166deg) brightness(104%)
    contrast(101%);
}

.daily-wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  scroll-behavior: auto;
  margin-top: 50px;
  padding: 10px 5px;
  border-radius: 8px;
  overflow: auto;
  max-width: max-content;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.18);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.12);

  margin-bottom: 50px;
  @media (max-width: 460px) {
    flex-direction: column;
    max-width: none;
  }

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.daily-day {
  position: relative;
  overflow: hidden;
  min-width: 105px;
  padding: 10px 8px;
  text-align: center;
  @media (max-width: 460px) {
    border-bottom: rgba(255, 255, 255, 0.12) 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    div {
      width: 33%;
    }
  }

  &:nth-child(7) {
    border-bottom: none;
  }
}

.daily-day div {
  padding: 5px 0px;
}

.rain-prob {
  display: flex;
  position: absolute;
  font-size: 15px;
  margin-top: -25px;
  margin-left: 62px;
}

@media (max-width: 1250px) {
  .rain-prob {
    display: flex;
    position: absolute;
    font-size: 15px;
    margin-top: -25px;
    margin-left: 50px;
  }
}

.rain-prob i {
  color: black;

  margin-right: 4px;
  filter: invert(89%) sepia(16%) saturate(7475%) hue-rotate(166deg) brightness(104%)
    contrast(101%);
}
